<!DOCTYPE html>
<html>
	<head>
		<title>Game {{ game_id }} || WARP WARS</title>
		<style type="text/css">
			#board { border: 1px solid blue; position: absolute; top: 0px; left: 0px; }
			#info-box { position: absolute; top: 0px; left: 840px; }
		</style>
	</head>
	<body onload=setup()>
		<canvas id="board" width="810" height="810">This is a canvas! If you're reading this message, please upgrade to a better browser.</canvas>
		<div id="info-box">
			<h2 id="game-id">Game ID: {{ game_id }}</h2>
			<h2 id="turn-indicator">Turn: BLACK</h2>
			<h3 id="turn-number-indicator">Turn 0</h3>
			<h3 id="player-color-indicator">You are {% if player_color == 0 %} White {% else %} Black {% endif %}</h3>
			<div id="mana-box">
				<h4>MANA:</h4>
				<h5 id="player-mana-indicator">WHITE: 0</h6>
				<h5 id="opponent-mana-indicator">BLACK: 0</h6>
			</div>
			<button id="update-button" onclick="makeGetRequest('{{ state }}', updateState)">UPDATE</button>
			<button id="end-turn-button" onclick="endTurn()">END TURN</button>
			<div id="player-unit-palette">
				<div id="player-unit-zero"></div>
				<button id="player-button-zero" onclick="deploy(0)">Deploy!</button>
				<div id="player-unit-one"></div>
				<button id="player-button-one" onclick="deploy(1)">Deploy!</button>
				<div id="player-unit-two"></div>
				<button id="player-button-two" onclick="deploy(2)">Deploy!</button>
				<div id="player-unit-three"></div>
				<button id="player-button-three" onclick="deploy(3)">Deploy!</button>
				<div id="player-unit-four"></div>
				<button id="player-button-four" onclick="deploy(4)">Deploy!</button>
			</div>
			<div id="opponent-unit-palette">
				<div id="opponent-unit-zero"></div>
				<div id="opponent-unit-one"></div>
				<div id="opponent-unit-two"></div>
				<div id="opponent-unit-three"></div>
				<div id="opponent-unit-four"></div>
			</div>
		</div>
		<script type="text/javascript" src="{{ drawing_file }}" ></script>
		<script type="text/javascript">
			// Canvas setup
			var canvas = document.getElementById('board');
			var ctx = canvas.getContext('2d');
			
			// DOM elements for interface
			var turnIndicator = document.getElementById("turn-indicator");
			var turnNumberIndicator = document.getElementById("turn-number-indicator");
			var playerManaIndicator = document.getElementById("player-mana-indicator");
			var opponentManaIndicator = document.getElementById("opponent-mana-indicator");
			// this is gross and I apologize for my sins
			var playerPaletteUnits = [document.getElementById("player-unit-zero"), document.getElementById("player-unit-one"), document.getElementById("player-unit-two"), document.getElementById("player-unit-three"), document.getElementById("player-unit-four")];
			var opponentPaletteUnits = [document.getElementById("opponent-unit-zero"), document.getElementById("opponent-unit-one"), document.getElementById("opponent-unit-two"), document.getElementById("opponent-unit-three"), document.getElementById("opponent-unit-four")];
			var playerPaletteButtons = [document.getElementById("player-button-zero"), document.getElementById("player-button-one"), document.getElementById("player-button-two"), document.getElementById("player-button-three"), document.getElementById("player-button-four")];
			
			// Constants for drawing the board
			var MIN = 5;
			var MAX = canvas.getAttribute('width')-5;
			var STEP = 80;
			var LINES = ((MAX-MIN)/STEP)+1;
			var DEPLOYABLE_SPACE_COLOR = "#0000ff";
			var MOVEABLE_SPACE_COLOR = "#00ff00";
			var UNIT_SELECTION_COLOR = "#aaff00";
			
			// Board constants
			var WIDTH = LINES-1;
			var HEIGHT = WIDTH;
			var PieceTypes = Object.freeze({EMPTY: 0, WARPLING: 1, KING: 2, KNIGHT: 3, ROOK: 4, BISHOP: 5, QUEEN: 6});
			var PieceColors = Object.freeze({WHITE: 0, BLACK: 1, EMPTY: 2});
			var EMPTY_ID = 0;
			var PlayerColors = Object.freeze({WHITE: 0, BLACK: 1});
			var PALETTE_MAX_LENGTH = 5;
			
			// Click state tracking
			var ClickStates = Object.freeze({NO_PREVIOUS_CLICK: 0, AWAITING_CLICK_FOR_MOVEMENT: 1, AWAITING_CLICK_FOR_DEPLOYMENT: 2});
			var clickState = ClickStates.NO_PREVIOUS_CLICK;
			var firstX = -1;
			var firstY = -1;
			var unitTypeToDeploy = -1;
			
			// Game state tracking
			var firstUpdate = true;
			var currentState = 0;
			var playerColor = {{ player_color }}; // the player playing through this client
			var currentTurn = PlayerColors.BLACK;
			var currentTurnNumber = 1;
			var board = new Array(WIDTH);
			var playerMana = 0;
			var opponentMana = 0;
			var playerPalette = new Array(PALETTE_MAX_LENGTH);
			var opponentPalette = new Array(PALETTE_MAX_LENGTH);
			var deployedThisTurn = false;
			
			// Constructor for a Piece
			function Piece(type, color, id, moves){
				this.type = type;
				this.color = color;
				this.id = id;
				this.moves = moves;
			}
			
			// Constructor for a unit type in the palettes
			function Unit(name, type, cost, current, cap){
				this.name = name;
				this.type = type;
				this.cost = cost;
				this.current = current; // how many have been deployed
				this.cap = cap; // how many can be deployed total
			}
			
			// perform initial setup of the canvas
			function setup(){
				makeGetRequest('{{ state }}', updateState);
				// createBoard();
				// placeStartingWarplings();
				// draw();
			}
			
			// create and fill the board with empty spaces
			function createBoard(){
				for(var i = 0; i < WIDTH; i++){
					board[i] = new Array(HEIGHT);
					for(var j = 0; j < HEIGHT; j++){
						board[i][j] = new Piece(PieceTypes.EMPTY, PieceColors.EMPTY, EMPTY_ID, []);
					}
				}
			}
			
			// place a starting set of warplings for both players
			/*function placeStartingWarplings(){
				for(var i = 0; i < WIDTH; i++){
					if(i % 2 == 0){
						board[i][0] = new Piece(PieceTypes.WARPLING, PieceColors.BLACK, i*4);
						board[i][2] = new Piece(PieceTypes.WARPLING, PieceColors.BLACK, i*4+1);
						board[i][HEIGHT - 3] = new Piece(PieceTypes.WARPLING, PieceColors.WHITE, i*4+2);
						board[i][HEIGHT - 1] = new Piece(PieceTypes.WARPLING, PieceColors.WHITE, i*4+3);
					} else {
						board[i][1] = new Piece(PieceTypes.WARPLING, PieceColors.BLACK, i*4);
						board[i][HEIGHT - 2] = new Piece(PieceTypes.WARPLING, PieceColors.WHITE, i*4+1);
					}
				}
				board[4][4] = new Piece(PieceTypes.KNIGHT, PieceColors.BLACK, 40);
				board[4][5] = new Piece(PieceTypes.ROOK, PieceColors.BLACK, 41);
				board[4][6] = new Piece(PieceTypes.BISHOP, PieceColors.BLACK, 42);
				board[4][7] = new Piece(PieceTypes.QUEEN, PieceColors.BLACK, 43);
				board[5][4] = new Piece(PieceTypes.KING, PieceColors.BLACK, 44);
			}*/
			
			// fill all user-facing interface elements
			function updateInterface(){
				// update the turn indicators
				if(currentTurn == PlayerColors.WHITE){
					turnIndicator.innerHTML = "Turn: WHITE";
				} else {
					turnIndicator.innerHTML = "Turn: BLACK";
				}
				turnNumberIndicator.innerHTML = "Turn " + currentTurnNumber;
				
				// update mana indicators
				playerManaIndicator.innerHTML = (playerColor == PlayerColors.WHITE ? "WHITE: " : "BLACK: ") + playerMana;
				opponentManaIndicator.innerHTML = (playerColor == PlayerColors.WHITE ? "BLACK: " : "WHITE: ") + opponentMana;
				
				// update palettes
				for(var i = 0; i < PALETTE_MAX_LENGTH; i++){
					if(i >= playerPalette.length){ // hide unneeded palette cards
						playerPaletteUnits[i].style.display = 'none';
						playerPaletteButtons[i].style.display = 'none';
					} else {
						playerPaletteUnits[i].style.display = '';
						playerPaletteButtons[i].style.display = '';
						playerPaletteUnits[i].innerHTML = playerPalette[i].name + ' - ' + playerPalette[i].cost + ' Warp - (' + playerPalette[i].current + '/' + playerPalette[i].cap + ')';
						playerPaletteButtons[i].disabled = false;
						if((playerPalette[i].cost > playerMana) || (playerPalette[i].current == playerPalette[i].cap)){
							playerPaletteButtons[i].disabled = true;
						}
					}
					if(i >= opponentPalette.length){ // hide unneeded palette cards
						opponentPaletteUnits[i].style.display = 'none';
					} else {
						opponentPaletteUnits[i].style.display = '';
						opponentPaletteUnits.innerHTML = opponentPalette[i].name + ' - ' + opponentPalette[i].cost + ' Warp - (' + opponentPalette[i].current + '/' + opponentPalette[i].cap + ')';
					}
				}
			}
			
			// end turn, handling all necessary cleanup
			function endTurn(){
				// flip the turn on the frontend
				if(currentTurn == PlayerColors.WHITE){
					currentTurn = PlayerColors.BLACK;
				} else {
					currentTurn = PlayerColors.WHITE;
				}
				// and the backend
				makeGetRequest('{{ end_turn }}', function(){}) // change this to callback to updateState, maybe?
				currentTurnNumber++;
				updateInterface();
			}
			
			// handle deploy button clicks
			function deploy(unitNumber){
				unit = playerPalette[unitNumber];
				// check for shenanigans
				if((unitNumber < 0) || (unitNumber > 4)){
					return;
				}
				// you can only deploy on your own turn and if you haven't yet deployed
				if((currentTurn != playerColor) || (deployedThisTurn)){
					return;
				}
				// check that the player has enough mana and that the unit isn't at its cap
				if((unit.cost > playerMana) || (unit.current >= unit.cap)){ 
					return;
				}
				alert('hella');
				
				// update state
				clickState = ClickStates.AWAITING_CLICK_FOR_DEPLOYMENT;
				unitTypeToDeploy = unit.type;
				
				// paint deployable spaces
				for(var x = 0; x < WIDTH; x++){
					for(var y = 0; y < HEIGHT; y++){
						if((board[x][y].type == PieceTypes.WARPLING) && (board[x][y].color == playerColor)){
							drawSpace(x, y, DEPLOYABLE_SPACE_COLOR);
							drawPiece(x, y, board[x][y]);
						}
					}
				}
				
				// TODO: finish sanity checks here, then set clickState to deployment click - done
				// TODO: then paint all the warpling occupied spaces - done
				// TODO: then in handleClick do the appropriate logic there for sending the get request - done
				// TODO: funelling the URL in from outside, of course - done
				// TODO: also add code in handleUpdate to load the palette data - done
				// TODO: and make updateInterface render the palettes (disable buttons based on cap, mana, and deployedThisTurn)
			}
			
			// handle clicks
			function handleClick(event){
				// do we need to check that these are inside the board and handle them being outside?
				var x = convertToGridCoord(event.x);
				var y = convertToGridCoord(event.y);

				if(clickState == ClickStates.NO_PREVIOUS_CLICK){
					// can only pieces on your own turn and if you are the active player
					if((board[x][y].color == currentTurn) && (playerColor == currentTurn)){
						firstX = x;
						firstY = y;
						
						clickState = ClickStates.AWAITING_CLICK_FOR_MOVEMENT;
						
						// paint the selected space
						drawSpace(x, y, UNIT_SELECTION_COLOR);
						drawPiece(x, y, board[x][y]);
						
						// paint all spaces the piece can move to
						moveableSpaces = board[x][y].moves;
						for(var i = 0; i < moveableSpaces.length; i++){
							drawSpace(moveableSpaces[i][0], moveableSpaces[i][1], MOVEABLE_SPACE_COLOR);
							drawPiece(moveableSpaces[i][0], moveableSpaces[i][1], board[moveableSpaces[i][0]][moveableSpaces[i][1]]);
						}
					}
				} else if(clickState == ClickStates.AWAITING_CLICK_FOR_MOVEMENT){
					// check if target space is moveable to by current piece
					if(board[firstX][firstY].moves.some(function(e){return ((e[0] == x) && (e[1] == y))})){
						// actually move the piece
						board[x][y] = board[firstX][firstY];
						board[firstX][firstY] = new Piece(PieceTypes.EMPTY, PieceColors.EMPTY, EMPTY_ID);
						
						// TODO: actually check the response code; probably shout at the user if the move was illegal somehow, etc
						makeGetRequest('/update/game/' + {{ game_id }} + '/move/' + board[x][y].id + '/to/' + x + '/' + y, function(){});
						// make the callback here endTurn()? - that way that will always happen after...
						
						// flip the turn
						endTurn();
					}
					// regardless of legality of the move, reset state and redraw
					clickState = ClickStates.NO_PREVIOUS_CLICK;
					firstX = 0;
					firstY = 0;
					redraw();
				} else if(clickState == ClickStates.AWAITING_CLICK_FOR_DEPLOYMENT){
					// check if target space is deployable
					if((board[x][y].type == PieceTypes.WARPLING_TYPE) && (board[x][y].color == currentTurn)){
						// we'll not bother faking this and instead just send it to the backend
						
						// TODO: actually check the response code; see TODO above on movement
						makeGetRequest('/update/game/' + {{ game_id }} + '/color/' + {{ player_color }} + '/deploy/' + unitTypeToDeploy + '/to/' + x + '/' + y, function(){});
						
						// set that this turn's deploy has been done and update interface
						deployedThisTurn = true;
						updateInterface();
					}
					
					// regardless of legality of the deploy, reset state and redraw
					clickState = ClickStates.NO_PREVIOUS_CLICK;
					unitTypeToDeploy = -1;
					redraw();
				}
			}
			
			canvas.addEventListener("click", handleClick, false);
			
			// BEGIN UPDATE CODE
			
			// function to pass to setInterval, to check for new state
			function checkForNewState(){
				makeGetRequest('{{ changed }}' + currentState, updateOnNewState);
			}
			
			// check for new state, updating if we've received any
			function updateOnNewState(data){
				if(data['changed'] == true){
					makeGetRequest('{{ state }}', updateState);
				}
			}
			
			// update client-side state with state from the server
			function updateState(new_state){
				// update currentState
				currentState = new_state['state_ID'];
				
				// wipe the board, place all the new units
				createBoard();
				for(var i = 0; i < new_state['units'].length; i++){
					unit = new_state['units'][i];
					type = unit['type'];
					color = unit['color'];
					id = unit['ID'];
					moves = unit['legal_moves'] // assuming legal_moves is a list of ordered pairs eg [[2, 3], [3, 4], ...]
					board[unit['x']][unit['y']] = new Piece(type, color, id, moves);
				}
				
				// set the current turn and turn number
				currentTurn = new_state['active_color'];
				currentTurnNumber = new_state['turn'];
				
				// get players
				var player;
				var opponent;
				var x = new_state['players'];
				var y = new_state['players'][0];
				if(new_state['players'][0]['color'] == playerColor){
					player = new_state['players'][0];
					opponent = new_state['players'][1];
				} else {
					player = new_state['players'][1];
					opponent = new_state['players'][0];
				}
				
				// get the mana totals for both players
				playerMana = player['warp'];
				opponentMana = opponent['warp'];
				
				// get palette information for both players
				playerPalette = new Array(player['palette'].length)
				for(var i = 0; i < player['palette'].length; i++){
					unit = player['palette'][i];
					name = unit['name'];
					type = unit['type'];
					cost = unit['cost'];
					current = (unit['starting_amount'] - unit['current_amount']);
					cap = unit['starting_amount'];
					playerPalette[i] = new Unit(name, type, cost, current, cap);
				}
				opponentPalette = new Array(opponent['palette'].length)
				for(var i = 0; i < opponent['palette'].length; i++){
					unit = opponent['palette'][i];
					name = unit['name'];
					type = unit['type'];
					cost = unit['cost'];
					current = unit['starting_amount'] - unit['current_amount'];
					cap = unit['starting_amount'];
					opponentPalette[i] = new Unit(name, type, cost, current, cap);
				}
				
				// reset click state
				clickState = ClickStates.NO_PREVIOUS_CLICK;
				
				// update the board and interface
				// if it's the first time, draw() the lines
				if(firstUpdate){
					draw();
					firstUpdate = false;
				} else {
					redraw();
				}
				updateInterface();
			}
			
			// make AJAX GET request
			function makeGetRequest(url, callback){
				var request = new XMLHttpRequest();
				request.open('GET', url, true);
				
				request.onload = function(){
					if(request.status >= 200 && request.status < 400) {
						// success
						var data = JSON.parse(request.responseText);
						callback(data);
					} else {
						// We reached our target server, but it returned an error
						// do something competent, maybe?
					}
				};

				request.onerror = function() {
					// There was a connection error of some sort
				};

				request.send();
			}
			
			var refreshID = window.setInterval(checkForNewState, 100);
		</script>
	</body>
</html>